---
import { getCollection, render } from "astro:content";
import ArchiveLayout from "../../layouts/ArchiveLayout.astro";

export async function getStaticPaths() {

  const posts = (await getCollection("blog"))
    .filter(p => p.data.archived === true)
    .sort((a,b)=> b.data.date.valueOf()-a.data.date.valueOf());

  return posts.map((post, i) => ({
    params: { id: post.id },
    props: {
      post,
      prevPost: posts[i+1] || null,
      nextPost: posts[i-1] || null
    }
  }));
}

const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<ArchiveLayout title={`${post.data.title || 'Post'} | Siku.name Archive`}hideEmailFooter>


<article class="archive-post">

<h1>{post.data.title}</h1>

<div class="post-meta">
<span class="post-tags">

{post.data.tags?.map(tag => (

<a href={`/archive/tags#${tag}`}>
#{tag}
</a>

))}

</span>
<span class="sep">|</span>

<time>
{post.data.date.toISOString().slice(0,10)}
</time>

<span class="sep"></span>

<a href="/">home</a>
</div>

<div class="post-body">
<Content />
</div>

<div class="post-nav">

{prevPost ? (
<a class="older" href={`/archive/${prevPost.id}`}>
&lt;&lt; Older
</a>
) : <span></span>}

<a class="home" href="/archive">
Home
</a>

{nextPost ? (
<a class="newer" href={`/archive/${nextPost.id}`}>
Newer &gt;&gt;
</a>
) : <span></span>}

</div>

</article>

</ArchiveLayout>

<style>
  .archive-post{
  max-width:760px;
  margin:0 auto;
}

.post-meta{
  margin-top:10px;
  font-size:0.9rem;
}

.post-meta time{
  color:#7a7a7a;
}

.sep{
  margin:0 8px;
}

.post-body{
  margin-top:30px;
  line-height:1.7;
}

.post-nav{
  display:grid;
  grid-template-columns:1fr auto 1fr;
  align-items:center;

  border-top:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;

  padding:18px 0;
  margin-top:40px;
}

.post-nav .older{
  justify-self:start;
}

.post-nav .home{
  justify-self:center;
}

.post-nav .newer{
  justify-self:end;
}
:global(.site-header) {

   background: #fff !important;
  }
</style>